@font-face{
    font-family: 'jua';
    src: url(../font/BMJUA_ttf.ttf);
}
@font-face{
    font-family: 'hanna';
    src: url(../font/BMHANNAAir_ttf.ttf);
    /* unicode-range: U+0020-007F; */
}
* {
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;

    /* home에 원래 있던 효과 */
    width: 100vw;
    height: 100vh;
    font-family: 'jua'; 
}
main section {
    height: 100vh;
}

main nav {
    position: fixed;
    z-index: 200;
    bottom: 25px;
    left: 25px;
} main nav>ul {
    list-style: none;
} main nav li {
    /* 왼쪽 버튼 폰트 크기랑 간격 */
    margin-top: 20px;
    font-size: 20pt;
    font-weight: bold;
}

main nav a {
    text-decoration: none;
    color: #332a1a25;
    transition: color 0.2s;
}

/* active 클래스가 주어졌을 때 */
main nav a.active {
    color: #332a1a;
    text-shadow:
        /* x y 블러 색상 */
        3px 3px 0 #332a1a25;
}

/* transparent 클래스가 주어졌을 때 */
main nav a.transparent {
    color: transparent;
}

main #footer {
    height: 270px;
    background-color: blue;
}
/* ========== 여기까지가 기본 css

이후 내용은 home이랑 합치면서 긁어온 거 ========== */

/* 위에 헤더를 위한 공간 빼둘 div, 헤더 높이 25px만큼 뺌 */
main [id*=section]>div:nth-child(1){
    height: 125px;
}
main [id*=section]>div:nth-child(2){
    height: calc(100vh - 125px);
    background-color: white;

    /* 이거는 section 내부 요소 가운데 정렬 */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* section1의 제일 상위 div에 배경 이미지 넣기 */
main #background-img {
    background-image: url(../img/cat-dog.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* 창 크기가 어떻든 이미지의 가운데를 보여주는 설정임 */
    background-position: center center;    
}
    main #background-img div {
        /* 배경보다 글자 올리려고 한 건데 필요 없을 듯? */
        /* z-index: 1; */
        color: #332a1a;
    }
    /* DON'T BUY, PLEASE ADOPT! */
        main #background-img>div:nth-child(1) {
            font-size: 30pt;
            font-family: 'hanna';
            font-weight: bold;
        }
        /* ZOOTOPIA */
        main #background-img>div:nth-child(2) {
            font-size: 120pt;
            /* font-weight: bold; */
        } main #background-img span:nth-child(1) { /* ZOO */
                color: #EEE5C6;
                text-shadow:
                    /* x y 블러 색상 */
                    -1px -1px 1px #332a1a,  
                    1px -1px 1px #332a1a,
                    -1px 1px 1px #332a1a,
                    1px 1px 1px #332a1a,
                    10px 10px 0 #332a1a;
            }  main #background-img span:nth-child(2) { /* TOPIA */ 
                text-shadow:
                    /* x y 블러 색상 */
                    -1px -1px 1px #C6BDAD,  
                    1px -1px 1px #C6BDAD,
                    -1px 1px 1px #C6BDAD,
                    1px 1px 1px #C6BDAD,
                    10px 10px 0 #C6BDAD;
            }
        /* 주토피아에서 어쩌구를 저쩌구 해보세요! */
        main #background-img>div:nth-child(3) {
            font-size: 25pt;
            font-family: 'hanna';
            font-weight: bold;
        }

/* section2 */
main #background-img2 {
    background-image: url(../img/cat-dog2.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* 창 크기가 어떻든 이미지의 가운데를 보여주는 설정임 */
    background-position: center center;
/*     position: absolute;    */
/*     opacity: 0.5;  */
}
main #background-img2 h1 {
	margin-bottom: 40px;
/*   	color: #332a1a; */
  	font-size: 40px;
	color: white;	
}
main #background-img2 h1:hover{
}

main #background-img2 h1:hover {
	margin-bottom: 40px;
 	color: #fff;
  	text-shadow: 5px 5px #332a1a, 8px 8px #6d5b38, 11px 11px #C6BDAD, 14px 14px #dad3c9;
}

/* section3     */
main #background-img3 {
    background-image: url(../img/cat-dog3.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* 창 크기가 어떻든 이미지의 가운데를 보여주는 설정임 */
    background-position: center center;
/*     position: absolute;    */
/*     opacity: 0.5;  */
} 
main #background-img3 h1 {
	margin-bottom: 40px;
  	color: #fff;
  	font-size: 40px;
}
main #background-img3 h1:hover {
	margin-bottom: 40px;
 	color: #fff;
  	text-shadow: 5px 5px #332a1a, 8px 8px #6d5b38, 11px 11px #C6BDAD, 14px 14px #dad3c9;
}

/* section4     */
main #background-img4 {
    background-image: url(../img/cat-dog4.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* 창 크기가 어떻든 이미지의 가운데를 보여주는 설정임 */
    background-position: center center;
/*     position: absolute;    */
/*     opacity: 0.5;  */
} 
main #background-img4 h1 {
	margin-bottom: 40px;
  	color: #fff;
  	font-size: 40px;
}
main #background-img4 h1:hover {
	margin-bottom: 40px;
 	color: #fff;
  	text-shadow: 5px 5px #332a1a, 8px 8px #6d5b38, 11px 11px #C6BDAD, 14px 14px #dad3c9;
}
