@charset "UTF-8";

/* 공통 */


* {
    margin: 0;
    padding: 0;
    color: #4E422D;    
}

body {
    overflow-x: hidden;
}

main {
    width: 100vw;
    min-height: 100vh;
/*     margin-top: 230px; */
/*     margin-bottom: 50px; */
    color: #4E422D;
    text-align: center;
/*     outline: none; */
/* 	font-family: 'jua'; */
 	font-family: 'hanna'; 
}

main>div:nth-child(1) {

    /* 헤더 공간 비워두기 위함 */
    height: 125px;

    /* 
        헤더가 차지하는 125px보다 더 띄우고 싶은 만큼 
        margin-bottom값을 임의로 조절해서 쓰시면 됩니다.
    */
    margin-bottom: 100px;

}

/* main a:link, a:visited { */
/* 	color : #4E422D; */
/* 	text-decoration: none; */
/* } */

main input[type=text] {
    width: 200px;
    height: 25px;
    border: 1px solid #4E422D;
    border-radius: 3px;
}

main button {
	border: 1px solid #4E422D;
    background-color: #4E422D;
    color: #EEE5C6;
    padding: 5px;
    border-radius: 5px;
    font-family: 'jua';
    font-size: 20px;
    cursor: pointer;
}

main button:hover {
	color: #EEE5C6;
    background-color: white;
    border: 1px solid white;
}


main form input[type=submit], input[type=reset] {
	border: 1px solid #4E422D;
    background-color: #4E422D;
    color: #EEE5C6;
    padding: 5px;
    border-radius: 5px;
    font-family: 'jua';
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
}

main form input[type=submit]:hover, input[type=reset]:hover {
	color: #EEE5C6;
    background-color: white;
    border: 1px solid white;
}

/* list페이지 */


main #registerArea {
    text-align: right;
    margin-right: 120px;
    margin-bottom: 30px;
}

main table a:link, a:visited {
    color: #4E422D;
    text-decoration: none;
}

main table {
    margin: auto;
    width: 90%;
    /*border-top: 1px solid #EEE5C6;*/
    border-collapse: collapse;
    text-align: center;
}

main th,td {
    border-bottom: 1px solid #C6BDAD;
    /*border-left: 1px solid #EEE5C6;*/
    padding: 10px;
}

main th:first-child {
    border-left: none;
}
main td:first-child {
    border-left: none;
    border-top: none;
}


/* list,search 페이지 */


main img {
    width: 15px;
    height: 15px;
}

main .pageWrap {
    margin-top: 50px;
    text-align: center;
    font-size: 0;
}
main .pageNation {
    display: inline-block;
}

main .pageNation a {
    display: block;
    margin: 0 3px;
    float: left;
    border: 1px solid #4E422D;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: rgba(0,0,0,0);
    font-size: 13px;
    color: #4E422D;
    text-decoration: none;
}
main .pageNation a:active {
    background-color: #C6BDAD;
    color: #C6BDAD;
    border: 1px solid #C6BDAD;
}

main select {
    height: 25px;
    background-color: rgba(0,0,0,0);
    border: 1px solid #4E422D;
    border-radius: 3px;
}

main .searchBar {
    margin-top: 30px;
    text-align: center;
}

main .area {
	margin-bottom: 20px;
}

/* detail 페이지 */

main h1 {
    text-align: left;
    margin-left: 400px;
}

main hr {
	width: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

main #detailInput {
	display: flex;
    float: inherit;
    justify-content: center;
}

main #detailInput input {
	margin: 5px;
	margin-left: 180px;
    height: 30px;
    border: 0;
    font-size: 20px;
    font-family: 'jua';
    outline: none;
}

main .subjectInput {
	text-align: center;
}

main .writerInput {
	text-align: center;
}

main textarea {
	border: 1px solid #C6BDAD;
	margin-top: 20px;
	margin-bottom: 20px;
	resize: none;
    outline: none;
    font-family: 'hanna';
    font-size: 20px;
}

main .removeArea {
	display: inline-block;
    display: flex;
    justify-content: right;
    margin-right: 550px;
    margin-bottom: 30px;
}

main .removeArea a {
	display: block;
    margin: 3px;
    padding: 5px;
    float: left;
    border: 1px solid #C6BDAD;
    width: 34px;
    height: 22px;
    line-height: 28px;
    text-align: center;
    background-color: rgba(0,0,0,0);
    font-size: 13px;
    color: #C6BDAD;
    text-decoration: none;
    font-family: 'jua';
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

main .removeArea a:hover {
    border: 1px solid #4E422D;
}

/* 댓글 */


main .comment {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

main .commentForm-wrapper {	
	width: 1000px;
    background-color: #ddd;
    border-radius: 30px;
    padding: 10px;
}

main .commentForm-wrapper > div:nth-child(1) {
	
	margin: 5px 25px;
		
}

main .commentForm-wrapper > div:nth-child(1) > span {
	
	font-family: 'hanna';
	font-size: 1em;
		
}

main .comment-form {		
	width: 800px;
	float: left;
}

main .comment-button {	
	float: left;
	margin: 5px 0 0 50px;	    
}
		
main .comment-submit-button {		
	width: 100px;
	height: 100px;
	border-radius: 20px;
	margin-top: 5px;
	margin-left: 20px;
}

main .comment-content {	
   	width: 100%;
    height: 80px;
    resize: none;
    border: none;
    border-radius: 20px;
    scroll-padding: 100px 0 100px 0;
    padding: 10px;
    margin: 10px;
    font-family: 'hanna';
    font-size: 0.8em;
	margin-left: 20px;	
}

main .comment-output > table {	
	width: 100%;
    padding: 20px; 
}

main .comment-output td {	
	height: 30px;
	border: 0;	
} 

main #comment-td1 {
	width: 15%;
	font-family: 'jua';
}

main #comment-td2 {
	width: 60%;
	font-family: 'hanna';
}

main #comment-td3 {
	width: 15%;
	font-size: 0.2em;
	color: #555;
}

main #comment-td4 {
	width: 5%;
}

main #comment-td5 {
	width: 5%;
}

main .comment-output button {	
	width: 50px;
    height: 25px;
    opacity: 70%;
    padding: 3px;
}


/* detail, register 페이지 공통 */


main .uploadArea {
	margin-bottom: 10px;
}

/* register 페이지 */


