<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AdoptPostMapper">

	<resultMap type="AdoptPost" id="adoptPostResultMap">
	
		<id 	property="adoptPostNo" 		column="ADOPT_POST_NO" />
		<result property="boardId" 			column="BOARD_ID" />
		<result property="adoptWriterId" 	column="ADOPT_WRITER_ID" />
		
		<result property="adoptContent" 	column="ADOPT_CONTENT" />
		<result property="adoptImageName" 	column="ADOPT_IMAGE_NAME" />
		<result property="adoptImagePath" 	column="ADOPT_IMAGE_PATH" />
		
		<result property="adoptCreateDate" 	column="ADOPT_CREATE_DATE" />
		<result property="adoptUpdateDate" 	column="ADOPT_UPDATE_DATE" />
		
		<result property="adoptApprovalYN" 	column="ADOPT_APPROVAL_YN" />
		<result property="animalNo" 		column="ANIMAL_NO" />
	
	</resultMap>
	
	<insert id="insertAdoptPost">
		INSERT INTO ADOPT_POST_TBL VALUES (SEQ_ADOPTPOSTNO.NEXTVAL, DEFAULT, #{adoptWriterId }, #{adoptContent }, #{adoptImageName }, #{adoptImagePath }, DEFAULT, NULL, DEFAULT, SEQ_ANIMALNO.CURRVAL)
	</insert>
	
	<select id="selectAllPost" resultMap="adoptPostResultMap">
		SELECT * FROM ADOPT_POST_TBL ORDER BY ANIMAL_NO DESC
	</select>
	
	<select id="selectOneByAnimalNo" resultMap="adoptPostResultMap">
		SELECT * FROM ADOPT_POST_TBL WHERE ANIMAL_NO = #{animalNo }
	</select>
	
</mapper>