<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AdoptPostMapper">

	<resultMap type="AdoptPost" id="adoptPostResultMap">
	
		<id 	property="adoptPostNo" 		column="ADOPT_POST_NO" />
		<result property="boardId" 			column="BOARD_ID" />
		<result property="adoptWriterId" 	column="ADOPT_WRITER_ID" />
		
		<result property="adoptContent" 	column="ADOPT_CONTENT" />
		<result property="adoptImageName" 	column="ADOPT_IMAGE_NAME" />
		<result property="adoptImagePath" 	column="ADOPT_IMAGE_PATH" />
		
		<result property="adoptCreateDate" 	column="ADOPT_CREATE_DATE" />
		<result property="adoptUpdateDate" 	column="ADOPT_UPDATE_DATE" />
		
		<result property="adoptApprovalYN" 	column="ADOPT_APPROVAL_YN" />
		<result property="animalNo" 		column="ANIMAL_NO" />
	
	</resultMap>
	
	<insert id="insertAdoptPost">
		INSERT INTO ADOPT_POST_TBL VALUES (SEQ_ADOPTPOSTNO.NEXTVAL, DEFAULT, #{adoptWriterId }, #{adoptContent }, #{adoptImageName }, #{adoptImagePath }, DEFAULT, NULL, DEFAULT, SEQ_ANIMALNO.CURRVAL)
	</insert>
	
	<select id="selectAllPost" resultMap="adoptPostResultMap">
		SELECT * FROM ADOPT_POST_TBL ORDER BY ANIMAL_NO DESC
	</select>
	
	<select id="selectOneByAnimalNo" resultMap="adoptPostResultMap">
		SELECT * FROM ADOPT_POST_TBL WHERE ANIMAL_NO = #{animalNo }
	</select>
	
	<select id="selectFilteredPost" resultMap="adoptPostResultMap">
		SELECT * FROM (SELECT * FROM ANIMAL_TBL a LEFT OUTER JOIN ADOPT_POST_TBL p ON a.ANIMAL_NO = p.ANIMAL_NO ORDER BY a.ANIMAL_NO DESC)
		  <where>
		    <if test="animalSpecies != null and animalSpecies != ''">
		    	<if test="animalSpecies !=  '전체'">
			      AND ANIMAL_SPECIES = #{animalSpecies }
		    	</if>
		    </if>
		    <if test="animalAddr != null and animalAddr != ''">
		      AND ANIMAL_ADDR LIKE '%' || #{animalAddr } || '%'
		    </if>
		    <if test="adoptCreateDateStart != null and adoptCreateDateStart != ''">
		      AND ADOPT_CREATE_DATE &gt;= #{adoptCreateDateStart }
		    </if>
		    <if test="adoptCreateDateEnd != null and adoptCreateDateEnd != ''">
		      AND ADOPT_CREATE_DATE &lt;= #{adoptCreateDateEnd }
		    </if>
		  </where>
	</select>
	
	<select id="adoptPostNoCurrval" resultType="_int">
		SELECT SEQ_ADOPTPOSTNO.CURRVAL FROM DUAL
	</select>
	
	<!-- 	소현 맵퍼 -->
	<update id="approveAdopt">
		UPDATE ADOPT_POST_TBL SET ADOPT_APPROVAL_YN = 'Y' WHERE ADOPT_POST_NO = #{adoptPostNo}
	</update>
	
	<delete id="deleteAdopts">
		DELETE FROM ADOPT_POST_TBL WHERE ANIMAL_NO = #{animalNo}
	</delete>
	
	<select id="selectAdopt" resultMap="adoptPostResultMap">
		SELECT ADOPT_POST_NO, ADOPT_WRITER_ID FROM ADOPT_POST_TBL WHERE ADOPT_APPROVAL_YN = 'N'
	</select>
	
	<select id="getAdoptListCount" resultType="_int">
		SELECT COUNT(*) FROM ADOPT_POST_TBL
	</select>
<!-- 	여기까지 -->
	
</mapper>