<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AnimalMapper">

	<resultMap type="Animal" id="animalResultMap">
	
		<id 	property="animalNo" 	column="ANIMAL_NO" />
		<result property="animalSpecies" 	column="ANIMAL_SPECIES" />
		<result property="animalGender" 	column="ANIMAL_GENDER" />
		
		<result property="animalWeight" 	column="ANIMAL_WEIGHT" />
		<result property="animalAge" 	column="ANIMAL_AGE" />
		<result property="neuterYN" 	column="NEUTER_YN" />
		
		<result property="animalAddr" 	column="ANIMAL_ADDR" />
		<result property="animalCharacter" 	column="ANIMAL_CHARACTER" />
		
		<result property="animalFosterId" 	column="ANIMAL_FOSTER_ID" />
		<result property="animalAdopterId" 	column="ANIMAL_ADOPTER_ID" />
		
	</resultMap>
	
	
	<!-- ========== 유정 시작 ========== -->
	
	<!-- ========== 유정 등록 ========== -->
	
	<!-- 입양 공고 등록 (animal부분 등록, adoptPost부분은 adoptpost매퍼에서 따로 등록함!) -->
	<insert id="insertAnimal">
		INSERT INTO ANIMAL_TBL VALUES (SEQ_ANIMALNO.NEXTVAL, #{animalSpecies }, #{animalGender }, #{animalWeight }, #{animalAge }, #{neuterYN }, #{animalAddr }, #{animalCharacter }, #{animalFosterId }, NULL)
	</insert>
	
	
	
	<!-- ========== 유정 삭제 ========== -->
	
	<!-- 입양 공고 삭제 (animal부분 삭제, adoptPost부분은 adoptpost매퍼에서 따로 삭제함!) -->
	<delete id="deleteAnimal">
		DELETE FROM ANIMAL_TBL WHERE ANIMAL_NO = #{animalNo }
	</delete>
	
	
	
	<!-- ========== 유정 수정 ========== -->
	
	<!-- 입양 공고 수정 (animal부분 수정, adoptPost부분은 adoptpost매퍼에서 따로 수정함!) -->
	<update id="updateAnimal">
		UPDATE ANIMAL_TBL SET ANIMAL_SPECIES = #{animalSpecies}, ANIMAL_GENDER = #{animalGender }, ANIMAL_WEIGHT = #{animalWeight }, NEUTER_YN = #{neuterYN }, ANIMAL_ADDR = #{animalAddr }, ANIMAL_CHARACTER = #{animalCharacter } WHERE ANIMAL_NO = #{animalNo } 
	</update>
	
	
	<!-- ========== 유정 출력 ========== -->
	
	<!-- 입양 공고 목록 조회 (animal부분 출력, adoptPost부분은 adoptpost매퍼에서 따로 출력함!)-->
	<select id="selectAllAnimal" resultMap="animalResultMap">
		SELECT * FROM ANIMAL_TBL INNER JOIN  ADOPT_POST_TBL USING(ANIMAL_NO) ORDER BY ANIMAL_NO DESC
	</select>
	
	
	<!-- 필터링된 입양 공고 목록 조회 (animal부분 출력, adoptPost부분은 adoptpost매퍼에서 따로 출력함!) -->
	<select id="selectFilteredAnimal" resultMap="animalResultMap">
		SELECT * FROM (SELECT * FROM ANIMAL_TBL INNER JOIN  ADOPT_POST_TBL USING(ANIMAL_NO) ORDER BY ANIMAL_NO DESC)
		  <where>
		    <if test="animalSpecies != null and animalSpecies != ''">
		    	<if test="animalSpecies !=  '전체'">
			      AND ANIMAL_SPECIES = #{animalSpecies }
		    	</if>
		    </if>
		    <if test="animalAddr != null and animalAddr != ''">
		      AND ANIMAL_ADDR = #{animalAddr }
		    </if>
		    <if test="adoptCreateDateStart != null and adoptCreateDateStart != ''">
		      AND ADOPT_CREATE_DATE &gt;= #{adoptCreateDateStart,jdbcType=TIMESTAMP}
		    </if>
		    <if test="adoptCreateDateEnd != null and adoptCreateDateEnd != ''">
		      AND ADOPT_CREATE_DATE &lt;= #{adoptCreateDateEnd,jdbcType=TIMESTAMP}
		    </if>
		  </where>
	</select>

	
	<!-- 입양 공고 디테일 조회 (animal부분 출력, adoptPost부분은 adoptpost매퍼에서 따로 출력함!) -->
	<select id="selectOneByAnimalNo" resultMap="animalResultMap">
		SELECT * FROM ANIMAL_TBL WHERE ANIMAL_NO = #{animalNo }
	</select>
	
	
	
	<!-- ========== 유정 COUNT ========== -->
	
	<!-- 전체 동물 게시글 수 조회 -->
	<select id="selectTotalAnimalCount" resultType="_int">
		SELECT COUNT(*) FROM ANIMAL_TBL 
	</select>
	
	
	<!-- 필터링된 동물 수 조회 -->
	<select id="selectFilteredAnimalCount" resultType="_int">
		SELECT COUNT(*) FROM (SELECT * FROM ANIMAL_TBL INNER JOIN  ADOPT_POST_TBL USING(ANIMAL_NO) ORDER BY ANIMAL_NO DESC)
		  <where>
		    <if test="animalSpecies != null and animalSpecies != ''">
		      AND ANIMAL_SPECIES = #{animalSpecies }
		    </if>
		    <if test="animalAddr != null and animalAddr != ''">
		      AND ANIMAL_ADDR = #{animalAddr }
		    </if>
		    <if test="adoptCreateDateStart != null and adoptCreateDateStart != ''">
		      AND ADOPT_CREATE_DATE &gt;= #{adoptCreateDateStart,jdbcType=TIMESTAMP}
		    </if>
		    <if test="adoptCreateDateEnd != null and adoptCreateDateEnd != ''">
		      AND ADOPT_CREATE_DATE &lt;= #{adoptCreateDateEnd,jdbcType=TIMESTAMP}
		    </if>
		  </where>
	</select>
		
	
	
	<!-- ========== 유정 매칭 ========== -->
	
	<!-- 매칭 조건에 맞는 입양 공고 목록 조회 (animal부분 출력, adoptPost부분은 adoptpost매퍼에서 따로 출력함!) -->
	<select id="selectMatchingAnimal" resultMap="animalResultMap">
		SELECT * FROM ANIMAL_TBL WHERE ANIMAL_SPECIES = #{animalSpecies } AND ANIMAL_CHARACTER LIKE '%' || #{animalCharacter } || '%'
	</select>
	
	
	<!-- 매칭 조건에 맞는 동물 수 조회  -->
	<select id="selectMatchingAnimalCount" resultType="_int">
		SELECT COUNT(*) FROM ANIMAL_TBL WHERE ANIMAL_SPECIES = #{animalSpecies } AND ANIMAL_CHARACTER = #{animalCharacter }
	</select>
	
	<!-- 매칭 조건에 맞는 입양 공고 1개 랜덤 조회 (animal부분 출력, adoptPost부분은 adoptpost매퍼에서 따로 출력함!) -->
	<select id="selectRandOneMatchingAnimal" resultMap="animalResultMap">
		SELECT * FROM ( SELECT * FROM ANIMAL_TBL WHERE ANIMAL_SPECIES = #{animalSpecies } AND ANIMAL_CHARACTER LIKE '%' || #{animalCharacter } || '%' ORDER BY dbms_random.value) WHERE ROWNUM = 1
	</select>
	
	
	<!-- ========== 유정 끝 ========== -->
	
	
	
	
	<!-- 마이페이지에서 넘어오는 부분 -->
	<select id="selectAllAnimalsbyAnimalAdopterId" resultMap="animalResultMap">
		SELECT * FROM ANIMAL_TBL WHERE ANIMAL_ADOPTER_ID = #{memberId}
	</select>
	<!-- ====================== -->
	
	<!-- 후기에서 넘어오는 부분 -->
	<select id="selectAnimalByAnimalNo" resultMap="animalResultMap">
		SELECT * FROM ANIMAL_TBL WHERE ANIMAL_NO = #{animalNo}
	</select>
	<!-- ====================== -->
	
	
	<!-- ========== 소현 시작!! ========== -->
	<update id="updateAdopterId">
		UPDATE ANIMAL_TBL SET ANIMAL_ADOPTER_ID = #{adopterId} WHERE ANIMAL_NO = #{animalNo}
	</update>
	
</mapper>