<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AnimalMapper">

	<resultMap type="Animal" id="animalResultMap">
		<id 	property="animalNo" 	column="ANIMAL_NO" />
		<result property="animalSpecies" 	column="ANIMAL_SPECIES" />
		<result property="animalGender" 	column="ANIMAL_GENDER" />
		
		<result property="animalWeight" 	column="ANIMAL_WEIGHT" />
		<result property="animalAge" 	column="ANIMAL_AGE" />
		<result property="neuterYN" 	column="NEUTER_YN" />
		
		<result property="animalAddr" 	column="ANIMAL_ADDR" />
		<result property="animalCharacter" 	column="ANIMAL_CHARACTER" />
		
		<result property="animalFosterId" 	column="ANIMAL_FOSTER_ID" />
		<result property="animalAdopterId" 	column="ANIMAL_ADOPTER_ID" />
	</resultMap>
	
	<insert id="insertAnimal">
		INSERT INTO ANIMAL_TBL VALUES (SEQ_ANIMALNO.NEXTVAL, #{animalSpecies }, #{animalGender }, #{animalWeight }, #{animalAge }, #{neuterYN }, #{animalAddr }, #{animalCharacter }, #{animalFosterId }, NULL)
	</insert>
	

	
</mapper>