<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReservationMapper">

	<resultMap type="Reservation" id="reservationResultMap">
		<id 	property="reservationNo" 		column="RESERVATION_NO" />
		<result property="animalNo" 			column="ANIMAL_NO" />
		<result property="fosterId" 			column="FOSTER_ID" />
		<result property="adopterId" 			column="ADOPTER_ID" />
		<result property="adoptedYN" 			column="ADOPTED_YN" />
		<result property="reservationTime" 			column="RESERVATION_TIME" />
	</resultMap>
	
	<!-- 유정 -->
	<select id="selectAllapplicantByAnimalNo" resultMap="reservationResultMap">
		SELECT * FROM ADOPT_RESERVATION_TBL WHERE ANIMAL_NO = #{animalNo }
	</select>
	<insert id="insertReservation">
		INSERT INTO ADOPT_RESERVATION_TBL VALUES (SEQ_RESERVATION_NO.NEXTVAL, #{animalNo }, #{fosterId }, #{adopterId }, DEFAULT, #{reservationTime })
	</insert>
	<delete id="deleteReservation">
		DELETE FROM ADOPT_RESERVATION_TBL WHERE RESERVATION_NO = #{reservationNo}
	</delete>
	<!--  ===  -->
	
	<!-- 	예약페이지 -->
	<select id="selectReservations" resultMap="reservationResultMap" >
		SELECT * FROM ADOPT_RESERVATION_TBL WHERE (EXTRACT(YEAR FROM RESERVATION_TIME) = #{year} AND EXTRACT(MONTH FROM RESERVATION_TIME) = #{month} AND EXTRACT(DAY FROM RESERVATION_TIME) = #{date}) AND ADOPTED_YN = 'N'
	</select>
	
	<update id="approveReserv">
		UPDATE ADOPT_RESERVATION_TBL SET ADOPTED_YN = 'Y' WHERE RESERVATION_NO = #{reservationNo}
	</update>
	
	<select id="selectOneByReservationNo" resultMap="reservationResultMap" >
		SELECT * FROM ADOPT_RESERVATION_TBL WHERE RESERVATION_NO = #{reservationNo }
	</select>

</mapper>