@charset "UTF-8";
@font-face {
    font-family: 'hanna';
    src : url(../font/BMHANNAAir_ttf.ttf);
    /* unicode-range: U+0020-007F; */
}
#container {
	margin-top: 300px;
	margin-bottom: 300px;
}
#main {
}
h1 {
	font-family : 'hanna';
}
table {
	font-family : 'hanna';
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;	
	
}