@charset "UTF-8";
@font-face{
    font-family: 'jua';
    src: url(../font/BMJUA_ttf.ttf);
}
@font-face{
    font-family: 'hanna';
    src : url(../font/BMHANNAAir_ttf.ttf);
    /* unicode-range: U+0020-007F; */
}

* {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
}
main {
    width: 100vw;
    min-height: 75vh;
}
main>div:nth-child(1) {

/*     헤더 공간 비워두기 위함 */
/*     height: 125px; */

/*     헤더가 차지하는 125px보다 더 띄우고 싶은 만큼  */
/*     margin-bottom값을 임의로 조절해서 쓰시면 됩니다. */
/*     margin-bottom: 300px; */
    margin-top: 250px;

}
/* 타이틀부분 */
main h1{
	font-family: 'jua';
	color: #4E422D;
}
main #titleTag{
/* 	display: flex; */
/* 	text-align: left; */
	width: 35%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

/* 테이블부분 */
main table a:link, a:visited {
    color: #4E422D;
    text-decoration: none;
}
main table {
    margin: auto;
    width: 35%;
    /*border-top: 1px solid #EEE5C6;*/
    border-collapse: collapse;
    text-align: center;
    font-family: 'hanna';
    color: #4E422D;
}

main th,td {
    border-bottom: 1px solid #C6BDAD;
    /*border-left: 1px solid #EEE5C6;*/
    padding: 10px;
}

main th:first-child {
    border-left: none;
}
main td:first-child {
    border-left: none;
    border-top: none;
}
main table span{
	font-weight: bold;
}

/* 버튼부분 */
button{
    border: 1px solid #4E422D;
    background-color: #4E422D;
    color: #EEE5C6;
    padding: 5px;
    border-radius: 5px;
    font-family: 'jua';
    font-size: 20px;
    margin-top: 20px;
/* 	text-align: left; */
	float: right;
/* 	margin-left: 800px; */
}
button:hover {
    color: #EEE5C6;
    background-color: white;
    border: 1px solid white;
}
main #buttonTag{
	width: 35%;
	margin-left: auto;
	margin-right: auto;
}
