<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LikeMapper">

	<select id="checkLike" parameterType="Like" resultType="_int">
		SELECT COUNT(*) FROM LIKE_TBL WHERE BOARD_ID = #{boardId} AND POST_NO = #{postNo} AND LIKE_MEMBER_ID = #{likeMemberId}
	</select>
	
	<insert id="insertLike" parameterType="Like">
		INSERT INTO LIKE_TBL VALUES (#{boardId}, #{postNo}, #{likeMemberId})
	</insert>

	<delete id="cancelLike" parameterType="Like">
		DELETE FROM LIKE_TBL WHERE BOARD_ID = #{boardId} AND POST_NO = #{postNo} AND LIKE_MEMBER_ID = #{likeMemberId}
	</delete>
	
</mapper>