<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReviewMapper">

	<resultMap type="Review" id="reviewResultMap">
		<id property="reviewPostNo" column="REVIEW_POST_NO"/>
		<result property="boardId" column="BOARD_ID"/>
		<result property="reviewWriterId" column="REVIEW_WRITER_ID"/>
		<result property="animalNo" column="ANIMAL_NO"/>
		<result property="reviewTitle" column="REVIEW_TITLE"/>
		<result property="reviewContent" column="REVIEW_CONTENT"/>
		<result property="reviewImageName" column="REVIEW_IMAGE_NAME"/>
		<result property="reviewImagePath" column="REVIEW_IMAGE_PATH"/>
		<result property="reviewVideoName" column="REVIEW_VIDEO_NAME"/>
		<result property="reviewVideoPath" column="REVIEW_VIDEO_PATH"/>
		<result property="reviewCreateDate" column="REVIEW_CREATE_DATE"/>
		<result property="reviewUpdateDate" column="REVIEW_UPDATE_DATE"/>
		<result property="reviewViewCount" column="REVIEW_VIEW_COUNT"/>
	</resultMap>
	
	<select id="selectReviewList" resultMap="reviewResultMap">
		SELECT * FROM REVIEW_POST_TBL
	</select>
	
	<select id="selectReview" resultMap="reviewResultMap">
		SELECT * FROM REVIEW_POST_TBL WHERE REVIEW_POST_NO = ${reviewPostNo}
	</select>
	
	<select id="selectReviewCount" resultType="_int">
		SELECT COUNT(*) FROM REVIEW_POST_TBL
	</select>
	
	<select id="searchReview" resultMap="reviewResultMap">
		SELECT * FROM REVIEW_POST_TBL WHERE
		<if test="condition == 'all'">REVIEW_TITLE LIKE '%' || #{keyword} || '%' OR REVIEW_WRITER_ID LIKE '%' || #{keyword} || '%' OR REVIEW_CONTENT LIKE '%' || #{keyword} || '%' </if>
		<if test="condition == 'title'">REVIEW_TITLE LIKE '%' || #{keyword} || '%' </if>
		<if test="condition == 'writer'">REVIEW_WRITER_ID LIKE '%' || #{keyword} || '%' </if>
		<if test="condition == 'content'">REVIEW_CONTENT LIKE '%' || #{keyword} || '%' </if>
		ORDER BY REVIEW_CREATE_DATE
	</select>
	
	<select id="searchReviewCount" resultType="_int">
		SELECT COUNT(*) FROM REVIEW_POST_TBL WHERE
		<if test="condition == 'all'">REVIEW_TITLE LIKE '%' || #{keyword} || '%' OR REVIEW_WRITER_ID LIKE '%' || #{keyword} || '%' OR REVIEW_CONTENT LIKE '%' || #{keyword} || '%' </if>
		<if test="condition == 'title'">REVIEW_TITLE LIKE '%' || #{keyword} || '%' </if>
		<if test="condition == 'writer'">REVIEW_WRITER_ID LIKE '%' || #{keyword} || '%' </if>
		<if test="condition == 'content'">REVIEW_CONTENT LIKE '%' || #{keyword} || '%' </if>
	</select>

	<insert id="insertReview" parameterType="review">
		INSERT INTO REVIEW_POST_TBL VALUES (#{reviewPostNo}, 'R', #{reviewWriterId}, 123, #{reviewTitle}, #{reviewContent}, #{reviewImageName}, #{reviewImagePath}, #{reviewVideoName}, #{reviewVideoPath}, DEFAULT, DEFAULT, #{reviewViewCount})	
	</insert>
	
	<update id="reviewViewCount">
		UPDATE REVIEW_POST_TBL SET REVIEW_VIEW_COUNT = REVIEW_VIEW_COUNT + 1 WHERE REVIEW_POST_NO = #{reviewPostNo}
	</update>
<!-- 	
	<update id="modifyReview">
	
	</update>  -->
	
	<delete id="deleteReview">
		DELETE FROM REVIEW_POST_TBL WHERE REVIEW_POST_NO = #{reviewPostNo}
	</delete>
	
	<select id="mypageSelectReviewList" resultMap="reviewResultMap" parameterType="String">
		SELECT * FROM REVIEW_POST_TBL WHERE REVIEW_WRITER_ID = #{memberId}
	</select>
	
</mapper>